.Cart{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 3fr 1fr;
    padding: 3vh;
    gap: 5vh;
}

.Cart h2{
    margin: 0;
}

.CartItems{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1vh;
}

.Cart .LeftSide{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.Cart .VerticalBar{
    border-left: 1px solid #ccc; 
    margin: 0 10px;
}

.Cart .RightSide{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.Cart .RightSide .Price{
    font-size: x-large;
    font-weight: 700;
}

@media(max-width: 600px){
    .Cart{
        display: flex;
        flex-direction: column-reverse;
    }

}