#root{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

@media (max-width: 600px){
    #root{
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}