.ItemBox{
    display: flex;
    border-radius: 8px;
    gap: 5vh;
    padding: 2vh;
    background-color: rgb(97, 15, 15);
    
}

.ItemBox img{
    max-width: 25vh;
    min-height: 30vh;
    justify-self: center;
    align-self: center;
}

.ItemTitle{
    font-weight: 700;
    font-size: x-large;
}

.ItemContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
}

@media (max-width: 600px){
    .ItemBox{
        gap: 2vh;
    }

    .ItemBox img{
        max-width: 10vh;
        min-height: 15vh;
    }
    .ItemTitle{
        font-size: large;
    }

    .ItemContent{
        font-size: small;
        overflow-wrap: break-word;
        word-break: break-word;
    }
}