.Profile{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5vh;
    max-width: 70vh;
    min-height: 70vh;
    margin-left: 20vw;
    margin-top: 5vw;
}

.ProfileTitle{
    grid-column: 1 / -1;
    display: flex;
    gap: 25vh;
}

.SideBar{
    width: 30vh;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    flex: 0;
    gap: 1vh;
}

.SideOption{
    padding: 5vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    transition: ease 0.25s;
}

.SideOption:hover{
    background-color: rgb(58, 52, 52);
}

.SideSelected{
    background-color: rgb(58, 52, 52);
    padding: 5vh;
    border-bottom: 1px solid black;  
    border-top: 1px solid black;
}


.ContentBar{
    grid-column: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.LogOut{
    margin-top: 5vh;
    color: red;
    align-self: center;
    transition: ease 0.25s;
}

.LogOut:hover{
    border-bottom: 1px solid red;
    cursor: pointer;
}

.pfp{
    width: 100px;
    height: 100px;
    align-self: center;
    border: 1px solid black;
    border-radius: 50%;
}


.LabelInfo{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.LabelTitle{
    font-size: larger;
    font-weight: 700;
}

.InformationBar{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.LabelInfo button{
    margin-top: 1vh;
}

.PictureWarning{
    text-align: justify;
    font-size: small;
}

.dialog[open]{
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    gap: 2vh;
    transition: ease 0.25s;
}

::backdrop{
    opacity: 0.3;
    background-color: black;
}

.Buttons{
    display: flex;
    gap: 2vh;
}

.ButtonLogout{
    background-color: red;
    color: black;
}